body {
  background-color: #765898;
  color: white;
}
.ticket-box {
  background-color: white;
  color: black;
}
.section-title {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.form-control,
.form-select {
  border-color: #52d053;
}
.btn {
  background-color: #52d053;
  color: white;
  border: none;
}
.btn-annulla {
  background-color: #b3b3b3;
  color: black;
  border: none;
}
.gray-bg {
  background-color: #666;
  color: white;
}
